html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Marcelo 2Brains custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

.navbar-default.custom-navbar{
    background-color: #002157;
    border: 0;
    border-radius: 0;
}

.custom-navbar .navbar-header{
    display: flex;
    height: 100px;
    align-items: center;
}

.logo-bch{
    background: url('../img/logo-sprite.png') no-repeat  left top;
    display: block;
    width: 200px;
    height: 38px;
    padding: 0;
    margin: 0;
}

.navbar-default.custom-navbar .custom-menu{
    border: none;
}

.navbar-default.custom-navbar .custom-menu .navbar-nav{
    padding: 15px 0;
    margin-right: 0;
}

.navbar-default.custom-navbar .navbar-nav li a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: white;
    padding: 0 8px;
    border-right: 1px solid white;
}

.navbar-default.custom-navbar .navbar-nav li:last-child a{
    border-right: 0;
}

.custom-bch-container-top{
    margin-bottom: 35px;
}

.custom-bch-container-top h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    color: #002157;
    font-weight: 400;
}

.custom-bch-info{
    background: #f6f6f8;
    border: 1px solid #d2d2d4;
}

.custom-bch-info .head-info{
    padding: 0 15px;
    border-bottom: 1px solid #d2d2d4;
    display: flex;
    height: 54px;
    align-items: center;
}

.custom-bch-info h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #666668;
    margin: 0;
    font-weight: 400;
}

.custom-bch-info .body-info{
    padding: 15px;
}

.custom-bch-info h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #666668;
    font-weight: 400;
    margin: 15px 0 5px 0;
}

.custom-bch-info .custom-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-bch-info .custom-list li{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666668;
    display: flex;
}

.custom-bch-info .custom-list.linear-list li{
    margin-bottom: 5px;
}

.custom-bch-info .custom-list.linear-list li:before{
    content: '-';
    margin-right: 4px;
}

.custom-bch-info .body-info .information-cost{
    border: 1px solid #d2d2d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 32px 15px;
    background-color: white;
}

.custom-bch-info .custom-list.circle-list li{
    margin-bottom: 15px;
}

.custom-bch-info .custom-list.circle-list li:before{
    content: '';
    width: 8px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
    background: #d2d2d2;
    position: relative;
    top: 6px;
}

.custom-bch-info .custom-list.circle-list li:last-child{
    margin-bottom: 0;
}

.custom-bch-info .information-cost li .text{
    max-width: 70%;
}

.custom-bch-info .information-cost li .cost{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.custom-collapse-head{
    background: #f6f6f8;
    padding: 6px 15px;
    display: flex;
    align-items: center;
}

.custom-collapse-head span.title-description{
    flex-grow: 1;
}

.first-row .input-group{
    margin-bottom: 15px;
}

.custom-collapse-body{
    background: #f1f1f3;
    padding: 15px;
}

.custom-collapse-body .flex-buttom{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.table-bch-container{
    margin-top: 15px;
}

.table-bch-container .table thead{
    background: #f6f6f6;
}

.paginator-bch{
    display: flex;
    justify-content: center;
}

.paginator-bch .pagination>li>a, .paginator-bch .pagination>li>span{
    color: #3e89cc;
    font-size: 14px;
}

.paginator-bch .pagination>li.active>a, .paginator-bch .pagination>li.active>span{
    background: #3e89cc;
    color: white;
}

@media (max-width: 992px){
    .custom-navbar .navbar-header .navbar-toggle{
        order: 2;
        border: none;
    }
    .custom-navbar .navbar-header .navbar-toggle span{
        background: white;
    }
    .navbar-default.custom-navbar .navbar-nav li a{
        padding: 10px 15px;
        border: 0;
    }
    .logo-bch{
        flex-grow: 1;
        margin-left: 0;
    }
    .custom-bch-info .information-cost li .text{
        max-width: 100%;
    }
    .custom-bch-info .information-cost li .cost{
        display: none;
    }
    .custom-collapse-body select.form-control{
        margin-bottom: 15px;
    }
    .custom-collapse-body .flex-buttom{
        margin-top: 15px;
        padding-right: 0;
    }
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}